<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  What is your NHS number? - HRT PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{# block outerContent #}
{# endblock #}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      
      
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              When do you want your HRT PPC to start?
            </h1>
          </legend>

          <p>You can choose any day to start your prepayment certificate between 20 October 2022 and 20 December 2022.</p>





            
          <div class="nhsuk-form-group">

            
          
              <div class="nhsuk-hint" id="contact-hint">
                Select one option
              </div>
          
              <div class="nhsuk-radios nhsuk-radios--conditional">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                    <strong>To cover prescriptions I'll collect today or later</strong>
                  </label>
                </div>
          
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
          
                  <!--<div class="nhsuk-form-group">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="select-1">
                        Label text goes here
                      </label>
                      <select class="nhsuk-select" id="select-1" name="select-1">
                        <option value="1">Today</option>
                        <option value="2">21/11/2022</option>
                        <option value="3">22/11/2022</option>
                        <option value="2">23/11/2022</option>
                        <option value="3">24/11/2022</option>
                        <option value="2">25/11/2022</option>
                        <option value="3">26/11/2022</option>
                        <option value="2">27/11/2022</option>
                        <option value="3">28/11/2022</option>
                        <option value="3">29/11/2022</option>
                        <option value="2">30/11/2022</option>
                        <option value="3">30/11/2022</option>
                        <option value="2">1/12/2022</option>
                        <option value="3">2/12/2022</option>
                        <option value="2">3/12/2022</option>
                        <option value="3">4/12/2022</option>
                      </select>
                    </div>
                  </div>-->
                  <div class="nhsuk-form-group">
                    <p>Choose the date you will collect your next prescription to get the most out of your certificate. <br><br>If you already have a certificate, choose a date after this expires.</p>
                    
                    <input style="width:200px;" class="nhsuk-input" type="date" id="datemin" value="2022-11-20" name="datemin" min="2022-11-20" max="2022-12-20">
                    <br><br>
                  </div>

              
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" aria-controls="conditional-contact-2" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                    <strong>I want to backdate my certificate - I have collected my prescription before today</strong>
                  </label>
                </div>
          
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-2">
          
                  <div class="nhsuk-form-group">
                    <p> You can claim a refund for any HRT prescriptions collected in the last 30 days, but you must have a <a href="https://faq.nhsbsa.nhs.uk/knowledgebase/category/?articlecategory=Refund%20of%20prescription%20charges%20and%20FP57s&id=CAT-01105">refund form</a> for each prescription.</p>
                    <p>Choose the first date you collected your prescription.<br><br></p>
                    <input style="width:200px;" class="nhsuk-input" type="date" id="datemin" value="2022-11-19" name="datemin" min="2022-10-20" max="2022-11-19">
                    <br><br>
                  </div>
          
                </div>
          
              
          
            
          
              </div>
            
          
          </div>
            
          
          
      
          
            
        </fieldset>
      
      </div>
      
        
      
        
      
      
     

        <form action="do-you-want-email">
        <button class="nhsuk-button" type="submit">
          Continue
        </button>
      </form>

      <p><a href="start">Cancel</a></p>

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
