<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  How to receive your PPC - HRT PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{# block outerContent #}
{# endblock #}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      
      <form action="copy-email" method="get" class="form">
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Would you like to get your prepayment certificate by email?
            </h1>
          </legend>

          <!--<div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                Reminder:
              </span>
            </h3>
            <p>This is an HRT PPC which only covers <a href="">certain drugs.</a> If you require drugs outside of HRT then a <a href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/prescription-prepayment-certificates-ppcs">standard PPC</a> may be more beneficial for you.</p>
          </div>-->

          
          <p>It is quicker to get your HRT PPC by email.</p>
          <p>If you choose to receive your details by email, you will get:
            <ul>
              <li>an HRT PPC certificate number</li>
              <li>a start date</li>
              <li>an end date</li>
              <li>an email reminder 1 month before your renewal date</li>
            </ul>
          </p>



          <div class="nhsuk-radios nhsuk-radios--conditional">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                Email me my certificate details
              </label>
            </div>
      
            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
      
              <div class="nhsuk-form-group">
               <p> We'll email your certificate to you.<br><br> You'll also be able to take a screenshot, print or save it as a PDF after payment. </p> 
              </div>
              <label class="nhsuk-label" for="email">
                Email address
              </label>
              <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
      
            </div>
      
            
      
            
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="email" name="contact" type="radio" value="no" aria-controls="conditional-contact-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                I will print or save my certificate later
              </label>
            </div>
            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-2">
      
              <div class="nhsuk-form-group">
                <p>You'll be able to take a screenshot, print or save it as a PDF after payment.  </p>
                <p>You will receive a letter 1 month before your HRT PPC needs to be renewed. This letter may be delayed by up to 10 working days. </p>
                
              </div>
      
            </div>
      
          
      
          </div>

          
    
        
        </fieldset>
      
      </div>
      <!--<details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Other ways to get your certificate
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>If you would like your HRT PPC posted to you,
          you can contact us:<BR><br>
                  <strong>Online:</strong> using our <a href="https://faq.nhsbsa.nhs.uk/contact-us/" target="_blank">online form</a><br><br>
                <strong>Telephone:</strong> 0300 330 1341<br>
                Monday to Friday, 8am to 6pm and Saturday, 9am to 3pm.<br><br>
                <p><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out about call charges.</a></p>
      
        </div>
      </details>-->
      
        <button class="nhsuk-button" type="submit">
          Continue
        </button>
      </form>

      <p><a href="start">Cancel</a></p>

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
