<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  What is your NHS number? - HRT PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new tab)</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      
      
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              When do you want your HRT PPC to start?
            </h1>
          </legend>

          <p>You can choose any day to start your prepayment certificate between 20 October 2022 and 20 December 2022.</p>





        
          <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
              
              <div class="nhsuk-hint" id="example-hint">
                For example, 15 12 2022
              </div>
          
              <div class="nhsuk-date-input" id="example">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                      Day
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example-day" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                      Month
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example-month" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                      Year
                    </label>
                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example-year" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset>
          
          </div>
          
          
      
          
            
        </fieldset>
      
      </div>
      
        
      
        
      
      
     

        <form action="do-you-want-email">
        <button class="nhsuk-button" type="submit">
          Continue
        </button>
      </form>

      <p><a href="start">Cancel</a></p>

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
