{% extends 'layout.html' %}

{% block pageTitle %}Buy an NHS HRT Prescription Prepayment Certificate (HRT PPC){% endblock %}

{% block content %}
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

            <h1 class="nhsuk-heading-l">Your medicine is not covered by an HRT PPC</h1>

            <p class="nhsuk-body">The HRT medicine you need is not currently covered by an HRT PPC. More medicines may be added in the future.</p>
            <p class="nhsuk-body">A <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/nhs-prescription-prepayment-certificates-ppcs" target="_blank">Prescription Prepayment Certificate (PPC) that covers all NHS prescriptions</a> may still save you money. This will depend on how many prescriptions you need.</p>
            <p class="nhsuk-body"><a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">Contact us</a> if you need further help.</p>
            
        </div>
    </div>
{% endblock %}