{% extends 'layout.html' %}

{% block pageTitle %}Buy an NHS HRT Prescription Prepayment Certificate (HRT PPC){% endblock %}

{% block content %}
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

            <form action="name" method="post" novalidate>

                {% call fieldset({
                    legend: {
                        text: 'What is your name?',
                        classes: 'nhsuk-fieldset__legend--l',
                        isPageHeading: true
                    }
                }) %}

                    <p class="nhsuk-hint">Your first name and last name must match what is printed on your prescriptions. Do not include any middle names.</p>

                    <!-- FIRST NAME -->
                    {{ input({
                        label: {
                            text: 'First name'
                        },
                        classes: 'nhsuk-input--width-20',
                        attributes: { 'autocomplete' : 'off' },
                        id: 'firstName',
                        name: 'firstName',
                        value: data.firstName
                    }) }}

                    <!-- LAST NAME -->
                    {{ input({
                        label: {
                            text: 'Last name'
                        },
                        classes: 'nhsuk-input--width-20',
                        attributes: { 'autocomplete' : 'off' },
                        id: 'lastName',
                        name: 'lastName',
                        value: data.lastName
                    }) }}

                {% endcall %}

                {{ button({
                    text: 'Continue'
                }) }}

            </form>

            <p class="nhsuk-body"><a class="nhsuk-link" href="start">Cancel</a></p>

        </div>
    </div>
{% endblock %}