{% extends "govuk-layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
<br>
      <h2>Confirm your payment</h2>
      
      <div class="payment-summary-wrap">
        <div class="payment-summary">
          <h2 class="nhsuk-heading-l">Payment summary</h2>
           <p id="payment-description" class="govuk-body">
              12 months single payment
            </p>
            
            <p class="govuk-body govuk-!-margin-bottom-0">
              Total amount:
              
            </p>
            <span id="amount" class="amount govuk-!-font-size-36 govuk-!-font-weight-bold">{{ data.HRTPPCCost }}</span>
        </div>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Card number
            </dt>
            <dd class="govuk-summary-list__value">
              ●●●●●●●●●●●●1111
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Expiry date
            </dt>
            <dd class="govuk-summary-list__value">
              01/25
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name on card
            </dt>
            <dd class="govuk-summary-list__value">
              {{ '' | processFullName }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Billing address
            </dt>
            <dd class="govuk-summary-list__value">
             {{ '' | processAddress | safe }}
            </dd>
          </div>
        </dl>

        
                       <div class="form-group" style="margin-top:20px">
              <a href="confirmation" class="govuk-button">
                Confirm payment
              </a>
              
            
              <p class="govuk-body"><a class="cancel" href="#">Cancel payment</a></p>
              
            </div>
        </form>
      </div>
    </div>
  </div>
</main>

{% endblock %}