// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
.nhsuk-card.nhsuk-card--confirmation 
{
    background-color: #005EB8;
    text-align: center;
    color: white;
    padding: 20px;
    margin: 30px 0;
  }