// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';
@import "node_modules/govuk-frontend/dist/govuk/all";


// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/phase-banner';
@import 'components/autocomplete';



///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

@font-face {
    font-family: "GDS Transport";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/light-94a07e06a1-v2.woff2") format("woff2"), url("/fonts/light-f591b13f7d-v2.woff") format("woff");
    font-display: fallback;
  }
  @font-face {
    font-family: "GDS Transport";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/bold-b542beb274-v2.woff2") format("woff2"), url("/fonts/bold-affa96571d-v2.woff") format("woff");
    font-display: fallback;
  }

  .govuk-footer__copyright-logo {
    background-image: url("/images/govuk-crest.svg");
  }

  .nhsuk-u-black {
    color: #212b32 !important;
  }

.app-ogl-footer {
    background-color: #d8dde0;
}

.govuk-panel {
    font-family: Frutiger W01, Arial, sans-serif;
}

.govuk-panel--confirmation {
   background-color: #007f3b;
}

.nhsuk-card.nhsuk-card--confirmation 
{
    background-color: #007f3b;
    text-align: center;
    color: white;
    padding: 20px;
    margin: 30px 0;
}


.govuk-phase-banner__text 
{
    display: table-cell;
    vertical-align: middle;
}

.govuk-phase-banner__content {
    font-family: Frutiger W01, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    color: #0b0c0c;
    display: table;
    margin: 0;
}

.govuk-template {
    background-color: #f3f2f1;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}


 .nhsuk-success-banner {
    background-color: #007f3b;
    color: #fff;
    padding: 8px 0 8px 0;
    position: relative;
}

 .nhsuk-success-banner p {
    margin: 0;
}





#nhsuk-cookie-banner p {
    padding: 0px;
    font-size: 16px;
}

#nhsuk-cookie-banner p {
    margin-bottom: 16px;
    display: block;
    margin-top: 0;
    font-size: 16px;
    line-height: 1.5;
}


/* A-Z */

#nhsuk-nav-a-z .selected:not(:focus) {
    background-color: #005eb8;
    color: white;
}

/* FILTER PPC TABLE */

.nhsuk-table__cell .nhsuk-u-has-icon {
   display: inline-block;
   white-space: nowrap;
}

.nhsuk-table__cell .nhsuk-icon {
    position: relative;
    top: 0.6rem;
    margin-top: -0.6rem;
    margin-right: 0.25rem;
}