<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Do you want to get your certificate details by email? - HRT PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{# block outerContent #}
{# endblock #}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      
      <form action="handler-email" method="get" class="form">
      <div class="nhsuk-form-group">
        

          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Do you want to get your certificate details by email?
            </h1>
          </legend>
          <div class="nhsuk-hint" id="contact-hint">
            At the end of the service you will be able to print or save your certificate as a PDF.
          </div>

          


       

          <!--<div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                Reminder:
              </span>
            </h3>
            <p>This is an HRT PPC which only covers <a href="">certain drugs.</a> If you require drugs outside of HRT then a <a href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/prescription-prepayment-certificates-ppcs">standard PPC</a> may be more beneficial for you.</p>
          </div>-->

          
          <!--<p>The most convenient way to receive your HRT certificate details is by email.</p>-->
          
            
          
          


            <p>If you give us your email address we will send you an email reminder 1 month before your certificate expires. </p>
              
          
            
            
            
          
          

            
            

          <div class="nhsuk-radios nhsuk-radios--conditional">
          
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
               Yes
              </label>
            </div>
      
            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
      
              <div class="nhsuk-form-group">
               
                <label class="nhsuk-label" for="email">
                  Email address
                </label>
                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
              
              </div>

              
      
            </div>
      
            
      
            
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="email" name="contact" type="radio" value="no" aria-controls="conditional-contact-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                No
              </label>
            </div>
            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-2">
      
              <div class="nhsuk-form-group">
              
                <p>We will send you a reminder 1 month before your certificate expires by post. This may be delayed by up to 10 working days. </p>
                
              </div>
      
            </div>
      
          
      
          </div>

          
    
        
        </fieldset>
      
      </div>
      
      
      
      
        <button class="nhsuk-button" type="submit">
          Continue
        </button>
      </form>

      <p><a href="start">Cancel</a></p>

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
