<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  What is your date of birth? - HRT PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Before you start
        </h1>
        
      </legend>
      

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <!--<div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">
            Not all HRT medicines are covered by an HRT PPC
      
          </h3>
          <p class="nhsuk-card__description">You must <a href="/drugs" target="_blank">check if your required medicine is covered</a> before purchasing an HRT PPC.</p>
        </div>
      </div>-->

      <!--<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="nhsuk-card__heading">
            Not all medicine is covered by the HRT PPC
      
          </h3>
          <p>You must <a href="drugs">check if your required medicine is covered</a> before purchasing an HRT PPC.</p>
        </div>
      </div>-->

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p >You must <a href="/drugs">check if your required medicine is covered</a> before purchasing an HRT PPC.</p>
      </div>
      <p>If you use an HRT PPC to collect medicines that are not covered, you could be at risk of receiving a <a href="https://www.nhsbsa.nhs.uk/penalty-charges-explained" target="_blank">penalty charge</a>.</p>

      <form action="medicine-continue" method="get" class="form">
        <div class="nhsuk-form-group">
  
          <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
            
           
    
           
  
            
           
  
  
  
            <div class="nhsuk-radios nhsuk-radios--conditional">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                <h2 class="nhsuk-fieldset__heading">
                  Is your medicine covered by an HRT PPC?
                </h2>
              </legend>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-1" name="continue" type="radio" value="yes" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Yes
                </label>
              </div>
        
              
        
              
        
              
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="email" name="continue" type="radio" value="no" aria-controls="conditional-contact-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                  No
                </label>
              </div>
             
        
            
        
            </div>
  
            
      
          
          
          </fieldset>
        
        </div>
        
          <button class="nhsuk-button" type="submit">
            Continue
          </button>
        </form>

      

        
        

    
     
     

      <p><a href="start">Cancel</a></p>

      <!-- End of content 
    

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Errors and flags
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <h4>Kickout pages</h4>
          <ul>
            <li><a href="/v1/kickout/entitled">Age entered is >60 or <16</a></li>
            <li><a href="/v1/kickout/59">Age entered is 59</a></li>
        
          </ul>
          <h4>Error messages</h4>
          <ul>
            <li><a href="/v1/error-messages/error-dob">Empty fields error</a></li>
            
        
          </ul>
        </div>
      </details>-->

    </div>  

  </div>
{% endblock %}
