<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  What is your email address? - HRT PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

      <!-- Change the page heading -->
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Where do you collect your prescription?
        </h1>
      </legend>

      <p>
       To make sure you can buy an HRT PPC, select the location of the pharmacy where you'd normally pick up your prescription.
      </p>

      

  

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <form action="postcode-v1" method="get" class="form">
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          
      
          <div class="nhsuk-radios">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="england" name="location" type="radio" value="england">
              <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                England
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="scotland" name="location" type="radio" value="scotland">
              <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                Scotland
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="wales" name="location" type="radio" value="wales">
              <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                Wales
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="northern" name="location" type="radio" value="northern">
              <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                Northern Ireland
              </label>
            </div>
      
          </div>
        </fieldset>
      
      </div>

      
        <button class="nhsuk-button" type="submit">
          Continue
        </button>
      </form>
      <p><a href="start">Cancel</a></p>

      
      
      
      

      

        
        

        
      
          




      

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
