<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Contact us - HRT PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Your address is not in England
        </h1>
      </legend><br>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
    

      
        <p>
          You must live in England to prepay for prescriptions.<br><br>
          The postcode you provided suggests you live somewhere else. Check if you're entitled to free NHS prescriptions and other help with health costs using our<a href="https://services.nhsbsa.nhs.uk/check-for-help-paying-nhs-costs/start"> eligibility checker.</a>
          </p>
          
          
          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>  
            If you need further help with this contact us on:<br><br>
          <strong>Online:</strong> using our <a href="https://faq.nhsbsa.nhs.uk/contact-us/">online form</a><br>
          <strong>Telephone:</strong> 0300 330 1341<br><br>
          Monday to Friday, 8am to 6pm and Saturday, 9am to 3pm.
          
        </p>
      </div>
      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
