<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-kickout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  We could not confirm your identity - Buy an NHS HRT Prescription Prepayment Certificate (HRT PPC)
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{# block outerContent #}
{# endblock #}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          We could not confirm your identity
        </h1>
      </legend>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <p>You are trying to access this link from an email address that does not match the one used when the HRT PPC was issued.</p>

      <p>To protect your personal health information, we only let certificates be opened by the person whose verified email was used during the purchase or request.</p>
        
      <p>Open the link in the original email inbox to access your HRT PPC.</p>
        
      <p><a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">Contact us</a> for further help if you no longer have access to your email or you're not sure which address you used.</p>
  
  <!-- End of content -->
    </div>  
  </div>
{% endblock %}
