<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  What is your name? - HRT PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      
      
      <form action="prescription-number" method="get">
      
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              How many prescriptions do you need each month? 
            </h1>
          </legend>
      
          <div class="nhsuk-hint" id="contact-hint">
            Select one option
          </div>
      
          <div class="nhsuk-radios nhsuk-radios--conditional">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contact-3" name="prescriptions" type="radio" value="1" aria-controls="conditional-contact-3" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="contact-3">
                1
              </label>
            </div>
      
            
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contact-1" name="prescriptions" type="radio" value="2" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                2
              </label>
            </div>
      
           
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contact-2" name="prescriptions" type="radio" value="3" aria-controls="conditional-contact-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                3
              </label>
            </div>
      
            
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contact-3" name="prescriptions" type="radio" value="4" aria-controls="conditional-contact-3" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="contact-3">
                4
              </label>
            </div>
      
            

            
      
          </div>

          
        </fieldset>
      
      </div>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Continue</button>
      
    </form>
        
        

      

      <p><a href="start">Cancel</a></p>

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
