<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  What is your postcode? - HRT PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
       beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new tab)</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<main id="content" role="main">
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          What is your address?
        </h1>
      </legend>
      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      
      <p>
        The address you give must match what is printed on your prescriptions.
      </p>
      
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-width-10">
          Postcode
        </label>
        <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
      </div>

      <p><a href="manual-address">Enter address manually</a></p>
      

      

      

        
        

        <form action="what-is-your-address">
        <button class="nhsuk-button" type="submit">
          Find address
        </button>
      </form>

      <p><a href="start">Cancel</a></p>

      <!-- End of content 

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Errors and flags
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <h4>Kickout pages</h4>
          <ul>
            <li><a href="/v1/kickout/outside-england">Postcode is outside England</a></li>
            <li><a href="/v1/kickout/contact-us">Information matches existing HwHc recipient</a></li>
        
          </ul>
          <h4>Error messages</h4>
          <ul>
            <li><a href="/v1/error-messages/error-postcode">Empty postcode field</a></li>
          
        
          </ul>
        </div>
      </details>-->

    </div>  

  </div>
</main>
{% endblock %}
