 {% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  Which PPC do you need?
{% endblock %}

{% block outerContent %}
  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="choose-ppc" method="get" class="form">

       

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Which Pre-payment Prescription Certificate (PPC) do you require?
              </h1>
            </legend>
            <div class="nhsuk-hint" id="contact-hint">
              Select the PPC which covers the prescriptions you need.
            </div>
           
        
            <div class="nhsuk-radios nhsuk-radios--conditional">
      
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="ppc" name="cert" type="radio" value="ppc" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Standard PPC
                </label>
              </div>
              
        
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
        
                <div class="nhsuk-form-group">
                 <p><strong>Choose this PPC option if you require:</strong></p>
                 <ul class="list list-bullet">
                  <li>Prescriptions that are not Hormone Replacement Therapy</li>
                  <li>Prescriptions which contain both HRT and other treatments</li>
                 </ul>
                </div>
        
              </div>
        
              
        
              
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="hrt-ppc" name="cert" type="radio" value="hrt-ppc" aria-controls="conditional-contact-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                  Hormone Replacement Therapy (HRT) PPC
                </label>
              </div>
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-2">
        
                <div class="nhsuk-form-group">
                  <p><strong>Choose this PPC option if you require:</strong></p>
                 <ul class="list list-bullet">
                  <li>Prescriptions that <strong>only</strong> include Hormone Replacement Therapy treatments</li>
                 </ul>
                 <p>Find out <a href="">here</a> if your HRT prescriptions are covered by the HRT PPC.</p>
                 </div>
        
              </div>
        
            
        
            </div>
          </fieldset>
        
        </div>

        <button class="nhsuk-button" type="submit">
          Next
        </button>

        
      </form>

    

    </div>
  </div>

{% endblock %}
