<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Contact us - HRT PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      

      <!-- Change the page heading -->
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          What is your address?
        </h1>
      </legend>

      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Important information:
          </span>
        </h3>
        <p>    
          The postcode you provided have been identified as being outside of England. If you live outside of England, you may be entitled to free prescriptions.<br><br>
          Check if you're eligible <a href="https://services.nhsbsa.nhs.uk/check-for-help-paying-nhs-costs/start">here</a> before purchasing a HRT PPC</a> 
         </p>
      </div>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <h3>Postcode</h3>
      <div class="nhsuk-hint" id="contact-hint">The address you give should match what is printed on your prescriptions.</div>
      <p>NE12AB &nbsp; <a href="postcode">Change</a></p>
      

      
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="select-1">
          Select an address
        </label>
        <select class="nhsuk-select" id="select-1" name="select-1">
          <option value="1">1 Newcastle Road, Newcastle, NE12AB</option>
          <option value="2">2 Newcastle Road, Newcastle, NE12AB</option>
          <option value="3">3 Newcastle Road, Newcastle, NE12AB</option>
          <option value="4">4 Newcastle Road, Newcastle, NE12AB</option>
          <option value="5">5 Newcastle Road, Newcastle, NE12AB</option>
          <option value="6">6 Newcastle Road, Newcastle, NE12AB</option>
          <option value="7">7 Newcastle Road, Newcastle, NE12AB</option>
        </select>
      </div>
      

      <p><a href="manual-address">My address is not listed</a></p>

        <form action="/v1/nhs-number">
        <button class="nhsuk-button" type="submit">
          Next
        </button>
      </form>

      <p><a href="start">Cancel</a></p>

      
          




      

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
