{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block outerContent %}
{% endblock %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Check your answers
        </h1>
      </legend>

      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Important information
          </span>
        </h3>
        <p>
          
         Your personal details must match what is printed on your prescriptions. Check your details below to avoid a penalty charge.</p>
        
      </div>

      <h3 class="heading">
        Your details
      </h3>

      {{ summaryList({
        rows: [
          
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Jane Doe"
            },
            actions: {
              items: [
                {
                  href: "name",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              html: "1 January 1999"
            },
            actions: {
              items: [
                {
                  href: "dob",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you know your NHS number?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "nhs-number",
                  text: "Change",
                  visuallyHiddenText: "NHS number"
                }
              ]
            }
          },
          {
            key: {
              text: "NHS number"
            },
            value: {
              text: "1111111111"
            },
            actions: {
              items: [
                {
                  href: "nhs-number",
                  text: "Change",
                  visuallyHiddenText: "NHS number"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: '1 Test Road<br>Town<br>NE1 0LD'
            },
            actions: {
              items: [
                {
                  href: "postcode",
                  text: "Change",
                  visuallyHiddenText: "NHS number"
                }
              ]
            }
          },
          {
            key: {
              text: "Receive certificate and reminder by email?"
            },
            value: {
              html: 'Yes'
            },
            actions: {
              items: [
                {
                  href: "get-certificate-by-email",
                  text: "Change",
                  visuallyHiddenText: "email"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              html: ' Jane.doe@nhs.net'
            },
            actions: {
              items: [
                {
                  href: "get-certificate-by-email",
                  text: "Change",
                  visuallyHiddenText: "email"
                }
              ]
            }
          }

        ]
      }) }}
      <h3>
        Your certificate
      </h3>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Length"
            },
            value: {
              text: "12 months"
            }
            ,
            actions: 
            {
              items: 
              [
                {
                  
                }
              ]
            }
          },
          {
            key: 
            {
              text: "Starts on"
            },
            value: 
            {
              html: "1 April 2023"
            }
            ,
            actions: 
            {
              items: 
              [
                {
                  href: "your-start-date",
                  text: "Change",
                  visuallyHiddenText: "home address"
                }
              ]
            }
          },{
            key: {
              text: "Ends on"
            },
            value: {
              html: "31 March 2024"
            }
            ,
            actions: 
            {
              items: 
              [
                {
                 
                }
              ]
            }
          },{
            key: {
              text: "Total cost"
            },
            value: {
              html: "£19.30"
            }
            ,
            actions: 
            {
              items: 
              [
                {
                  
                }
              ]
            }
          },{
            key: {
              text: "Payment method"
            },
            value: {
              html: "Card payment"
            }
            ,
            actions: 
            {
              items: 
              [
                {
         
                }
              ]
            }
          }
        ]
      }) }}

     

      <div class="payment-info-box" style="">
        <div class="notice-margin notice form-group">
            
            <strong style="font-size: large;">
                If you choose to continue, you will be transferred to our card payment provider, <a id="pay-link" href="https://www.payments.service.gov.uk/" target="_blank" rel="noopener">GOV.UK Pay (opens in a new tab)</a>.
            </strong>
        </div>
        <ul class="accepted-cards field-empty">
          <li class="visa" data-key="visa" data-credit="true" data-debit="true">
            
          </li>
          <li class="master-card" data-key="master-card" data-credit="true" data-debit="true">
            
          </li>
          <li class="jcb" data-key="jcb" data-credit="true" data-debit="false">
            
          </li>
          <li class="diners-club" data-key="diners-club" data-credit="true" data-debit="false">
            
          </li>
        </ul>
        <span class="card-text">Accepted credit and debit card types</span>
    </div>

      
    

      <style>
        /* accepted cards styles */
        .accepted-cards {
          display: block;
          width: 100%;
          margin: 15px 0 5px;
          padding: 0;
          float: none;
          overflow: hidden
        }
  
        @media (min-width: 40.0625em) {
          .accepted-cards {
            width:66.666%
          }
        }

        .icon-important {
          background-image: url("/images/icon-white-important.png");

        }
  
        .accepted-cards li {
          display: block;
          width: 44px;
          height: 10px;
          margin: 0 10px 5px 0;
          padding-bottom: 2rem;
          float: left;
          background-image: url("/images/accepted-cards-sprite.png");
          background-size: 900% 200%;
          border: 1px solid #BFC1C3;
          border-radius: 5px;
        }
  
        .accepted-cards .visa {
          background-position: 0% 100%;
        }
  
        .accepted-cards.field-empty .visa,.accepted-cards .visa.selected {
          background-position: 0% 0%;
        }
  
        .accepted-cards .master-card {
          background-position: 12.5% 100%;
        }
  
        .accepted-cards.field-empty .master-card,.accepted-cards .master-card.selected {
          background-position: 12.5% 0%;
        }
  
        .accepted-cards .jcb {
          background-position: 37.5% 100%;
        }
  
        .accepted-cards.field-empty .jcb,.accepted-cards .jcb.selected {
          background-position: 37.5% 0%;
        }
  
        .accepted-cards .diners-club {
          background-position: 50% 100%;
        }
  
        .accepted-cards.field-empty .diners-club,.accepted-cards .diners-club.selected {
          background-position: 50% 0%;
        }
  
        .accepted-cards-hint {
          color: #6f777b;
        }
  
        /* Payment card info box */
        .payment-info-box {
          background-color: #DEE0E2;
          padding: 20px; 
          margin-bottom: 25px;
          float: left; 
        }
  
        ul.accepted-cards.field-empty {
          margin-bottom: 10px;
        }
  
        .notice-margin {
          margin-bottom: 20px;
        }
        /* ./ */
  
      </style>

     <br>
<div class="govuk-warning-text" style="margin-bottom:px; margin-top: 180px;">
  <span class="govuk-warning-text__icon" aria-hidden="true" style="margin-top:7px ;">!</span>
  <strong class="govuk-warning-text__text" style="font-family: Frutiger W01, Arial, Sans-serif;">
    <span class="govuk-warning-text__assistive">Warning</span>
    HRT PPCs are not refundable so make sure you need to buy one before doing so.
  </strong>
</div>

      <a href="payment" class="nhsuk-button">
        Proceed to payment
      </a>
      <p class="navigation"><a class="cancel" href="start">Cancel</a></p>

    </div>
  </div>
{% endblock %}
