
<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-private-beta.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Buy an NHS HRT prescription prepayment certificate
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}




{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      
     BETA
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <h1>
        Buy an NHS Hormone Replacement Therapy Prescription Prepayment Certificate (HRT PPC)
      </h1>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      

      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Important information
          </span>
        </h3>
        
          
          <p>If you get prescriptions for something other than hormone replacement therapy (HRT) medicine, a <a href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/prescription-prepayment-certificates-ppcs">Prescription Prepayment Certificate (PPC) that covers all NHS prescriptions</a> may be better for you.</a></p>
        <p>HRT PPCs are not refundable.</p>
      </div>


      
      <p>
        If you pay for NHS prescribed HRT medicine 3 or more times in 12 months, an HRT PPC could save you money.<br><br>
        
        Each item on an NHS prescription usually costs £9.35. You can buy an HRT PPC for a one-off payment of £18.70 (the cost of two items). <br><br>This covers you for an unlimited number of certain HRT prescriptions for 12 months. 


      
      
        

      
   

 
      
      
      



    
        <!--<div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <strong><p>We do not send out plastic cards any more because they take time to reach you.</strong>
          They are also costly to the NHS and the environment.</p>
        </div>-->
        
        
        <h3>Before you start</h3>
        <p>If you already have a valid exemption check when it expires. Depending on the type of certificate you have you may be able to use our <a href="https://services.nhsbsa.nhs.uk/check-my-nhs-exemption/start">Check if you have an NHS exemption service</a>.</p>
        <p>You'll need to you know the name of your medicine, which you can find on your prescription. HRT PPCs do not cover all HRT medicine so we'll check it will cover your medicine at the start of the application.</p>
        <p>You'll also need a valid credit or debit card to pay for your HRT PPC.</p>




<h3>About your HRT PPC</h3>
        <p>Make sure the personal details you enter match what is on your prescription. If the details on your HRT PPC do not match you may receive a penalty charge.

        </p>
<p>If you are applying on behalf of someone else, fill in the application using their details rather than your own.</p>
       
        
      
        <p>You can choose the start date of your HRT PPC. This can be up to one calendar month before or after the date you buy it. </p>
        <p>As the HRT PPC is only being introduced from 1 April 2023 you will not be able to backdate it to before this date.</p>
        


        
      
      
     <!--<details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Other ways to buy
          </span>
        </summary>
        
        <div class="nhsuk-details__text">
          <p>You can buy an HRT PPC:

          </p>
          
            <p><strong>Telephone:</strong> 0300 330 1341<br>Monday to Friday, 8am to 6pm<br>
              Saturday, 9am to 3pm.<br><br>
            <a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out about call charges</a></p>
          


          
            
            
        
          
        </div>
      </details>-->

      

      <!--<details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            How to use your HRT PPC
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>
      
            Show your certificate details to your pharmacist when you collect your HRT prescription. <br>
            <br>Your HRT PPC will start on the day you buy it – so if you buy it today it will be valid from today's date. This means you can collect your HRT prescriptions straight away. <strong>TBC</strong>
            
            <br><br>You can use your HRT PPC in any pharmacy within the UK.
          </p>
      
        </div>
      </details>-->
      
      

        <form action="is-medicine-covered">
        <button class="nhsuk-button" type="submit">
          Buy now
        </button>
      </form>



      <p>You cannot get an HRT PPC by post through this online service. If you need it to be posted, there are other ways to buy one.</p>
      <details class="nhsuk-details" >
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Other ways to buy an HRT PPC
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>You can also buy an HRT PPC from any <a href="">registered pharmacy</a> or over the phone with our contact centre: </p>
                
                  
                <strong>Telephone:</strong> 0300 330 1341<br>
                Monday to Friday, 8am to 6pm and Saturday, 9am to 3pm.<br><br>
                <p><a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers">Find out about call charges</a>.</p>
     
        </div>
      </details>

        <!--<h3 class="heading-small">
          Other ways to buy
        </h3>
        <p>The quickest way to buy a certificate is online. If you can't, </p>-->
      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
