<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Contact us - HRT PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{# block outerContent #}
{# endblock #}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
      <!-- Change the page heading -->
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Where do you collect your prescription?
        </h1>
      </legend>

      <p>
        The postcode you entered may not be inside England. <br><br>In order to ensure you are eligible for the HRT PPC, enter the postcode of the pharmacy where you normally pick up your prescription.
      </p>

      

  

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-width-10">
          <strong>Postcode</strong>
        </label>
        <p>TD15 0LD &nbsp; &nbsp;<a href="/v1/experimental/user-journey/pharmacy-location">Change</a> </p>

      

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="select-1">
          Select an address
        </label>
        <select class="nhsuk-select" id="select-1" name="select-1">
          <option value="1"> </option>
          <option value="1">Test Pharmacy, 1 Test Road, Berwick, TD15 0LD</option>
          <option value="2">2 Test Road, Berwick, TD15 0LD</option>
          <option value="3">3 Test Road, Berwick, TD15 0LD</option>
          <option value="4">4 Test Road, Berwick, TD15 0LD</option>
          <option value="5">5 Test Road, Berwick, TD15 0LD</option>
          <option value="6">6 Test Road, Berwick, TD15 0LD</option>
          <option value="7">7 Test Road, Berwick, TD15 0LD</option>
        </select>
      </div>
      <br>

      <p><a href="/v1/experimental/user-journey-unhappy/manual-pharmacy">The address is not listed</a></p>
      
      <form action="continue-warning">
        <button class="nhsuk-button" type="submit">
          Next
        </button>
      </form>
      <p><a href="start">Cancel</a></p>
      

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Errors and flags
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <h4>Kickout pages</h4>
          <ul>
            <li><a href="/v1/nhs-number">Postcode is inside England</a></li>
            <li><a href="/v1/experimental/user-journey/outside-england">Postcode is outside England</a></li>
            <li><a href="/v1/experimental/user-journey/continue-warning">Continue with warning</a></li>
            
        
          </ul>
        </div>
      </details>

      

        
        

        
      
          




      

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
