<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  How to receive your PPC - HRT PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      
      <form action="copy2021-handler" method="get" class="form">
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              How can we send you your prepayment certificate details?
            </h1>
          </legend>

          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <strong><p>We do not send out plastic cards any more because they take time to reach you.</strong>
            They are also costly to the NHS and the environment.</p>
          </div>

          <p>We can send you your prepayment certificate straight away by email. Or, you can print it at the end of the service.</p>
          <p>You will get a:
            <ul>
              <li>certificate number</li>
              <li>start date</li>
              <li>end date</li>
            </ul>
          </p>

          
    
          <div class="nhsuk-radios nhsuk-radios--conditional">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="email" name="contact" type="radio" value="email">
              <label class="nhsuk-label nhsuk-radios__label" for="email">
                Yes
              </label>
            </div>
      
            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
      
              <div class="nhsuk-form-group">
                <p>We'll send you your new certificate by email, and a reminder one month before your renewal date.</p>
        
              </div>
      
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="print" name="contact" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="email-2">
                No
              </label>
            </div>
          </div>
        
        </fieldset>
      
      </div>
      
        <button class="nhsuk-button" type="submit">
          Next
        </button>
      </form>

      <p><a href="start">Cancel</a></p>

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
