<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-private-beta.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Your payment has been declined - HRT PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{# block outerContent #}
{# endblock #}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Your payment has been declined
        </h1>
      </legend>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <p>
        We have not taken any money out of your account.<br><br>
        If you want to try again, you will need to <a href="/v9-private-beta/start">return to the start</a>.
        
       
        
      </p>
      
      
      

      

      

        
        

        

      <p>Email us at <a href=mailto:nhsbsa.hrtppc-support@nhs.net>nhsbsa.hrtppc-support@nhs.net</a> if you need further help.</p>

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
