<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-kickout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
There is a problem with the service - HRT PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          There is a problem with the service
        </h1>
      </legend>
      <br>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <p>
        Try again later.<br><br>
         When the service is available, you will have to start again.<br><br>
        If you have any other queries about HRT PPCs, email us at <a href=mailto:HRTPPC-support@nhs.net?subject="HTML link">nhsbsa.hrtppc-support@nhs.net</a>
        
    
      </p>

      
      <!-- End of content -->
    </div>  
  </div>
{% endblock %}
