<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  What is your date of birth? - HRT PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Before you start
        </h1>
      </legend>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      
     
        <ul>
          <li><a href="/drugs">Check if your medicine is covered by the HRT PPC</a> </li>
          <li>We'll ask for your name, date of birth and postcode. These should be same as on your prescription to avoid any potential fines. </li>
          <li>You may only use a debit or credit card</li>

        </ul>
      
      

      

      

        
        

        <form action="where-you-collect">
        <button class="nhsuk-button" type="submit">
          Continue
        </button>
      </form>

      <p><a href="start">Cancel</a></p>

      <!-- End of content 
    

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Errors and flags
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <h4>Kickout pages</h4>
          <ul>
            <li><a href="/v1/kickout/entitled">Age entered is >60 or <16</a></li>
            <li><a href="/v1/kickout/59">Age entered is 59</a></li>
        
          </ul>
          <h4>Error messages</h4>
          <ul>
            <li><a href="/v1/error-messages/error-dob">Empty fields error</a></li>
            
        
          </ul>
        </div>
      </details>-->

    </div>  

  </div>
{% endblock %}
