<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Buy an NHS HRT Prescription Prepaid Certificate
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <h1>
       Beta Prototype Pages
      </h1>

      {{ warningCallout({
        "heading": "Prototype Code only",
        "HTML": "<p>Do not use this code in any production code or production services. It does not adhere to development standards.</p> "
      }) }}
      
      
     

      

      <h2 class="app-side-nav__heading">HRT PPC page by page Iteration 1</h2>
      <hr>

      <!--<h3>Prototype Versions</h3>

      <table class="nhsuk-table">
        
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Iteration 1 prototype</td>
            <td class="nhsuk-table__cell "><a href="v1/cookies/start-cookies">Buy an NHS HRT PPC</a></td>
          </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Iteration 1 prototype with Gov standard address input</td>
              <td class="nhsuk-table__cell "><a href="v1/experimental/user-journey/start">Buy an NHS HRT PPC</a></td>
            </tr>
            </tbody>
          </table>-->

          <h3>Journeys for usability testing</h3>

      <table class="nhsuk-table">
        
        

          

            
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">Iteration 3 - Latest version from Alpha phase</td>
                  <td class="nhsuk-table__cell "><a href="v1-5/choose-ppc-expanded">Radio buttons to select which PPC you need</a></td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">Iteration 4</td>
                  <td class="nhsuk-table__cell "><a href="v2/choose-ppc-expanded">Radio buttons to select which PPC you need</a></td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">Iteration 5</td>
                  <td class="nhsuk-table__cell "><a href="v3/choose-ppc-expanded">Radio buttons to select which PPC you need</a></td>
                </tr>
                </tbody>
          </table>

        
          

      <h3>Experimental pages </h3>
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        
        
       
       
       
        

        

        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Optional email</td>
            <td class="nhsuk-table__cell "><a href="v2/send-certificate-optional">Do you want email certificate</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Do you want your certificate by email? - email input on same screen</td>
            <td class="nhsuk-table__cell "><a href="v3/send-certificate-email">Do you want email certificate</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Which PPC do you want?</td>
            <td class="nhsuk-table__cell "><a href="v1/experimental/choose-ppc">Start page to direct to correct PPC</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
      </table>

      <h3>Start pages </h3>
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        
        
       
       
       
        

        

        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Placeholder - Which PPC do you want?</td>
            <td class="nhsuk-table__cell "><a href="v3/choose-ppc-expanded">Start page to direct to correct PPC</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Service start page</td>
            <td class="nhsuk-table__cell "><a href="v3/start">Start page to direct to correct PPC</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
      </table>





      
      <h3>Verification pages </h3>
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Where do you collect your prescriptions?</td>
            <td class="nhsuk-table__cell "><a href="v3/postcode-checker">Collect prescriptions inside/outside england.</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
        <tbody class="nhsuk-table__body">
          
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Continue warning - if you select outside england</td>
            <td class="nhsuk-table__cell "><a href="v3/continue-warning">Do you want to continue to purchase an HRT PPC?</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
        <tbody class="nhsuk-table__body">
          
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Date of birth</td>
            <td class="nhsuk-table__cell "><a href="v3/dob">What is your date of birth?</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
        <tbody class="nhsuk-table__body">
          
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Name</td>
            <td class="nhsuk-table__cell "><a href="v3/name">What is your name?</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
        <tbody class="nhsuk-table__body">
          
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Address - Input postcode</td>
            <td class="nhsuk-table__cell "><a href="v3/postcode">What is your address?</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
        <tbody class="nhsuk-table__body">
          
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Enter address manually</td>
            <td class="nhsuk-table__cell "><a href="v3/manual-address">What is your address?</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
        <tbody class="nhsuk-table__body">
          
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">NHS number</td>
            <td class="nhsuk-table__cell "><a href="v3/nhs-number">What is your NHS number?</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
        <tbody class="nhsuk-table__body">
          
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Email or print</td>
            <td class="nhsuk-table__cell "><a href="v3/send-certificate-email">Would you like your certificate emailed or print?</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
        <tbody class="nhsuk-table__body">
          
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Email - (not used anymore - see above screen)</td>
            <td class="nhsuk-table__cell "><a href="v2/email">What is your email address?</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
      </table>



      <h3>Check your answers pages </h3>
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Check your answers - if selected email</td>
            <td class="nhsuk-table__cell "><a href="v3/check-your-answers">Check your answers and PPC details</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Check your answers - if selected print</td>
            <td class="nhsuk-table__cell "><a href="v3/check-your-answers-post">Check your answers and PPC details</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
      </table>





      <h3>Payment Pages </h3>  
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Enter card details</td>
            <td class="nhsuk-table__cell "><a href="v3/payment">Enter your card details</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Payment summary</td>
            <td class="nhsuk-table__cell "><a href="v3/payment">Confirm your payment details</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
      </table>






      
      <h3>Kickout pages </h3>
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Already exempt based on your DOB (>60 or >16)</td>
            <td class="nhsuk-table__cell "><a href="v3/kickout/entitled">You are entitled to free prescriptions</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Entitled soon (aged 59)</td>
            <td class="nhsuk-table__cell "><a href="v3/kickout/59">You can get free prescriptions soon</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Postcode outside England</td>
            <td class="nhsuk-table__cell "><a href="v3/outside-england">Your address is not in England</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Existing exemption found</td>
            <td class="nhsuk-table__cell "><a href="v3/kickout/contact-us">Contact us. You may already be receiving HwHc</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
      </table>
      
      
      
      <h3>Error messages </h3>
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Payment cancelled</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/payment-cancelled">Your payment has been cancelled</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">NHS - Payment declined</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/payment-declined">Your payment has been declined</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">GOV - Payment declined - try again</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/payment-declined-retry">Your payment has been declined - go back and try again</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">GOV - Payment declined - continue</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/payment-declined-gov">Your payment has been declined</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">DOB error</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/error-dob">Empty date of birth field</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Name error</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/error-name">Empty name fields</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Postcode error</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/error-postcode">Empty postcode field</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Address error </td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/error-what-is-your-address">Empty address fields</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Address error - postcode not required </td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/error-address-postcode">Empty address fields - postcode is allowed to be empty</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">NHS number error </td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/error-nhs-number">Empty NHS number fields</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Certificate receive not selected </td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/error-send-certificate">Empty method of receiving certificate</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Certificate receive - no email input </td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/error-send-certificate-2">Empty email address</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <!--<tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Email address error - not used </td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/error-email">Empty email address field</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>-->
         
        </tbody>
      </table>





     
      <table class="nhsuk-table">
        <h3>Service errors</h3>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Page not found</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/page-not-found">Page not found error message</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">We could not process your details</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/process-failed">We could not process your details error message</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Page forbidden</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/forbidden">You are not authorised to view this page</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Problem with the service</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/problem-with-service">Sorry, there has been a problem with the service</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Payment provider error</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/payment-provider-error">Payment provider temporarily unavailable</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
      </table>

      <h3>End pages</h3>
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
       
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Confirmation - Email <strong>(without Organ Donation information)</strong></td>
            <td class="nhsuk-table__cell "><a href="v3/confirmation-organ">Done. You have prepaid for 12 months of prescriptions. </a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Confirmation - Post <strong>(without Organ Donation information)</strong></td>
            <td class="nhsuk-table__cell "><a href="v3/confirmation-organ-no-email">Done. You have prepaid for 12 months of prescriptions. </a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
      </table>


      <h3>Cookies</h3>
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Start page with cookies</td>
            <td class="nhsuk-table__cell "><a href="v2/cookies/start-cookies">Cookies banner on start page</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Cookies link</td>
            <td class="nhsuk-table__cell "><a href="v2/cookies/nhsbsa-cookies">Cookies on the NHSBSA website</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
      </table>

      <h3>Drugs list</h3>
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">List of drugs</td>
            <td class="nhsuk-table__cell "><a href="/drugs">Drugs covered by the HRT PPC</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
     
      </table>




      

      
     

    

    </div>  

  </div>
{% endblock %}
