<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Buy an NHS HRT Prescription Prepaid Certificate
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <h1>
       Alpha Prototype Pages
      </h1>

      {{ warningCallout({
        "heading": "Prototype Code only",
        "HTML": "<p>Do not use this code in any production code or production services. It does not adhere to development standards.</p> "
      }) }}
      
      
     

      

      <h2 class="app-side-nav__heading">HRT PPC page by page Iteration 1</h2>
      <hr>

      <!--<h3>Prototype Versions</h3>

      <table class="nhsuk-table">
        
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Iteration 1 prototype</td>
            <td class="nhsuk-table__cell "><a href="v1/cookies/start-cookies">Buy an NHS HRT PPC</a></td>
          </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Iteration 1 prototype with Gov standard address input</td>
              <td class="nhsuk-table__cell "><a href="v1/experimental/user-journey/start">Buy an NHS HRT PPC</a></td>
            </tr>
            </tbody>
          </table>-->

          <h3>Journeys for usability testing</h3>

      <table class="nhsuk-table">
        
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Version 1 - Happy Journey (as is)</td>
            <td class="nhsuk-table__cell "><a href="v1/cookies/start-cookies">Buy an NHS HRT PPC</a></td>
          </tr>
          </tbody>

          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Version 2 (Gov address input) - Happy Journey</td>
              <td class="nhsuk-table__cell "><a href="v1/experimental/user-journey/start">Buy an NHS HRT PPC</a></td>
            </tr>
            </tbody>

            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Version 2 (Gov address input) - User lives on the border</td>
                <td class="nhsuk-table__cell "><a href="v1/experimental/user-journey-unhappy/start">Buy an NHS HRT PPC</a></td>
              </tr>
              </tbody>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">Version 3 - Radio buttons to select which PPC you need</td>
                  <td class="nhsuk-table__cell "><a href="v1/experimental/choose-ppc">Buy an NHS HRT PPC</a></td>
                </tr>
                </tbody>
          </table>

        
            

      <h3>Experimental pages </h3>
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Address Input</td>
            <td class="nhsuk-table__cell "><a href="v1/experimental/postcode">Gov standard address input</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Already hold a certificate</td>
            <td class="nhsuk-table__cell "><a href="v1/experimental/contact-us">Contact us - Please return once certificate expires</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
        <!--<tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Outside of England - Design 1</td>
            <td class="nhsuk-table__cell "><a href="v1/experimental/outside-england">User lives on the border of England and was incorrectly kicked out</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Outside of England - Design 2</td>
            <td class="nhsuk-table__cell "><a href="v1/experimental/outside-england-2">User lives on the border of England and was incorrectly kicked out</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>-->
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Outside of England - Design 3 - Continue with warning</td>
            <td class="nhsuk-table__cell "><a href="v1/experimental/user-journey/continue-warning">Allows user to continue journey</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Where do you collect your prescriptions?</td>
            <td class="nhsuk-table__cell "><a href="v1/experimental/user-journey/pharmacy-location">User lives on the border of England - might collect inside England</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>

        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Is your phamacy in England?</td>
            <td class="nhsuk-table__cell "><a href="v1/experimental/user-journey-unhappy/pharmacy-location">User lives on the border of England - might collect inside England</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>

        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Which PPC do you want?</td>
            <td class="nhsuk-table__cell "><a href="v1/experimental/choose-ppc">Start page to direct to correct PPC</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
      </table>





      
      <h3>Verification pages </h3>
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Start Page</td>
            <td class="nhsuk-table__cell "><a href="v1/experimental/user-journey/start">Buy an NHS HRT PPC</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Date of birth</td>
            <td class="nhsuk-table__cell "><a href="v1/experimental/user-journey/dob">What is your DOB?</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Name</td>
            <td class="nhsuk-table__cell "><a href="v1/experimental/user-journey/name">What is your first name and last name?</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Postcode input (Gov standard)</td>
            <td class="nhsuk-table__cell "><a href="v1/experimental/user-journey/postcode">What is your postcode?</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Address list (Gov standard)</td>
            <td class="nhsuk-table__cell "><a href="v1/experimental/user-journey/what-is-your-address">Postcode lookup</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Postcode (current PPC journey)</td>
            <td class="nhsuk-table__cell "><a href="v1/postcode">What is your postcode</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Address list (current PPC journey)</td>
            <td class="nhsuk-table__cell "><a href="v1/select-your-address">Select your address</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">NHS number</td>
            <td class="nhsuk-table__cell "><a href="v1/experimental/user-journey/nhs-number">Do you know your NHS number?</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Email address</td>
            <td class="nhsuk-table__cell "><a href="v1/experimental/user-journey/send-certificate">Do you want your certificate emailed?</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Enter address manually</td>
            <td class="nhsuk-table__cell "><a href="v1/what-is-your-address">Enter your address manually</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">What is your address - prepopulated</td>
            <td class="nhsuk-table__cell "><a href="v1/chosen-what-is-your-address">User has selected an address from list</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
      </table>









      <h3>Payment Pages </h3>  
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Enter card details</td>
            <td class="nhsuk-table__cell "><a href="v1/payment">Enter payment details</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Confirm payment</td>
            <td class="nhsuk-table__cell "><a href="v1/payment">Confirm your payment (or cancel)</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
      </table>






      <h3>Check your answers pages </h3>
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Check your answers</td>
            <td class="nhsuk-table__cell "><a href="v1/experimental/user-journey/check-your-answers">Check your answers and PPC details</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
      </table>
      <h3>Kickout pages </h3>
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Already exempt (>60 or >16)</td>
            <td class="nhsuk-table__cell "><a href="v1/kickout/entitled">You are entitled to free prescriptions</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Entitled soon (aged 59)</td>
            <td class="nhsuk-table__cell "><a href="v1/kickout/59">You can get free prescriptions soon</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Postcode outside England</td>
            <td class="nhsuk-table__cell "><a href="v1/kickout/outside-england">Your address is not in England</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Existing exemption found</td>
            <td class="nhsuk-table__cell "><a href="v1/kickout/contact-us">Contact us. You may already be receiving HwHc</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          
        </tbody>
      </table>
      
      
      
      <h3>Error messages </h3>
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Payment cancelled</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/payment-cancelled">Your payment has been cancelled</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">NHS - Payment declined</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/payment-declined">Your payment has been declined</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">GOV - Payment declined</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/payment-declined-gov">Your payment has been declined</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">DOB error</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/error-dob">Empty date of birth field</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Name error</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/error-name">Empty name fields</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Postcode error</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/error-postcode">Empty postcode field</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Address error </td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/error-what-is-your-address">Empty address fields</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Address error - postcode not required </td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/error-address-postcode">Empty address fields - postcode is allowed to be empty</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">NHS number error </td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/error-nhs-number">Empty NHS number fields</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Certificate send out options error </td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/error-send-certificate">Empty method of receiving certificate</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Email address error </td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/error-email">Empty email address field</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
         
        </tbody>
      </table>





     
      <table class="nhsuk-table">
        <h3>Service errors</h3>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Page not found</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/page-not-found">Page not found error message</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">We could not process your details</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/process-failed">We could not process your details error message</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Page forbidden</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/forbidden">You are not authorised to view this page</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Problem with the service</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/problem-with-service">Sorry, there has been a problem with the service</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Payment provider error</td>
            <td class="nhsuk-table__cell "><a href="v1/error-messages/payment-provider-error">Payment provider temporarily unavailable</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
      </table>

      <h3>End pages</h3>
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Confirmation - Email</td>
            <td class="nhsuk-table__cell "><a href="v1/confirmation">Done. You have prepaid for 12 months of prescriptions. </a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Confirmation - Email<strong>(with Organ Donation information)</strong></td>
            <td class="nhsuk-table__cell "><a href="v1/confirmation-organ">Done. You have prepaid for 12 months of prescriptions. </a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Confirmation - Post</td>
            <td class="nhsuk-table__cell "><a href="v1/confirmation-organ-no-email">Done. You have prepaid for 12 months of prescriptions. </a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
      </table>


      <h3>Cookies</h3>
      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Description
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              Jira Story
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Start page with cookies</td>
            <td class="nhsuk-table__cell "><a href="v1/cookies/start-cookies">Cookies banner on start page</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Cookies link</td>
            <td class="nhsuk-table__cell "><a href="v1/cookies/nhsbsa-cookies">Cookies on the NHSBSA website</a></td>
            <td class="nhsuk-table__cell">JIRA</td>
          </tr>
        </tbody>
      </table>




      

      
     

      <!-- End of content -->

    </div>  

  </div>
{% endblock %}
