<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Do you get prescriptions for any items other than HRT medication? - Buy an NHS HRT Prescription Prepayment Certificate (HRT PPC)
{% endblock %}

<!-- For the skip link -->
{% block skipLink %}
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

<style>
  /* new skip link format*/
.nhsuk-skip-link:focus {
  display: block;
  position: static;
}
</style>

{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
       BETA
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new tab)</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<main id="content" role="main">
<div class="nhsuk-grid-row">
    

  <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page heading -->
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Do you get prescriptions for any items other than HRT medication?
        </h1>
      </legend>

      

      

  

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <form action="get-a-ppc-instead" method="get" class="form">
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          
      
          <div class="nhsuk-radios">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="yes" name="continue" type="radio" value="yes" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                Yes
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="no" name="continue" type="radio" value="no" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                No
              </label>
            </div>
      
          </div>
        </fieldset>
      
      </div>

      
        <button class="nhsuk-button" type="submit">
          Continue
        </button>
      </form>
      <p><a href="start">Cancel</a></p>

      
      
      
      

      

        
        

        
      
          




    </div>  

  </div>
</main>
      <!-- End of content -->

{% endblock %}
