<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  What is your name? - Buy an NHS HRT Prescription Prepayment Certificate (HRT PPC)
{% endblock %}

<!-- For the skip link -->
{% block skipLink %}
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

<style>
  /* new skip link format*/
.nhsuk-skip-link:focus {
  display: block;
  position: static;
}
</style>

{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{# block outerContent #}
{# endblock #}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



<main id="content" role="main">
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">



      <form action="postcode" method="post" novalidate>

      {% call fieldset({
          legend: {
            text: 'What is your name?',
            classes: 'nhsuk-fieldset__legend--l',
            isPageHeading: true
          }
        }) %}

       <p>Your first name and last name must match what is printed on your prescriptions. Do not include any middle names.</p>


          <!-- MOTHER'S FIRST NAME -->
          {{ input({
            label: {
              text: "First name"
            },
            classes: 'nhsuk-input--width-20',
            attributes: { 'autocomplete' : 'off' },
            id: 'firstName',
            name: 'firstName',
            value: data.firstName
          }) }}

          <!-- MOTHER'S LAST NAME -->
          {{ input({
            label: {
              text: "Last name"
            },
            classes: 'nhsuk-input--width-20',
            attributes: { 'autocomplete' : 'off' },
            id: 'lastName',
            name: 'lastName',
            value: data.lastName
          }) }}

        {% endcall %}


        {{ button({
          text: 'Continue'
        }) }}

      </form>




      <!-- Change the page heading -->
      <!--<legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          What is your name?
        </h1>
      </legend>-->

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
      <!--
      <p>
        Your first name and last name must match what is printed on your prescriptions. Do not include any middle names.
      </p>
      
      <div class="nhsuk-form-group" style="width: 300px;">
        <label class="nhsuk-label" for="example">
          First name
        </label>
        <input class="nhsuk-input" id="example" name="example" type="text">

        <label class="nhsuk-label" for="example">
          Last name
        </label>
        <input class="nhsuk-input" id="example" name="example" type="text">
      </div>
      

      

      

        
        

        <form action="postcode">
        <button class="nhsuk-button" type="submit">
          Continue
        </button>
      </form>

      <p><a href="start">Cancel</a></p>

      <!-- End of content -->

    </div>  

  </div>

</main>
{% endblock %}
