<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-bsa.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  What is your date of birth? - HRT PPC
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{# block outerContent #}
{# endblock #}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<img src="/images/bsa-2.png" style="width:100%; height: auto;">
{% endblock %}
